<p></p>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <h1 class="text-center">My cart</h1>
      <p></p>
      <p *ngIf="!cartIsEmpty" class="text-center mt-5">Add some items to your cart before proceeding</p>
      <app-cart-item
        *ngFor="let cartItem of cartItems; let i = index"
        [cartItem]="cartItem"
        (updated)="onCartItemUpdated($event)"
        (removed)="onCartItemRemoved($event)">
      </app-cart-item>
      <div *ngIf="cartIsEmpty" class="text-center my-2">
        <button class="btn btn-danger text-center" (click)="onClearCart()">Clear cart</button>
      </div>
      <div class="p-6">
      </div>
    </div>
    <div *ngIf="cartIsEmpty" >
      <app-cart-order [cartItems]="cartItems"></app-cart-order>
    </div>
  </div>
</div>