.clickable:not(.active){
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.clickable:hover, .active:active {
  cursor: pointer;
  color: #ffc107;
  text-decoration: none;
}

.highlighted {
  color: #ffc107 !important;
}